@media (min-width: 992px) {
	// NAVIGATION
	.nav {
		&__bar {
			height: 100px;
		}

		&__btn {
			display: none;
		}

		&__logo {
			margin: 1em 1.2em;
			a {
				font-size: 3.4rem;
			}
		}

		&__list-mobile {
			display: none;
		}

		&__list-desktop {
			display: block;
			list-style: none;
			padding-right: 60.8px;

			&-item {
				display: inline-block;
				a {
					padding: 0.8em 1.6em;
					font-size: 2rem;
					font-weight: 600;
					color: $white;
					text-decoration: none;
					text-transform: capitalize;
					transition: color 0.3s, background 0.3s;

					&:hover {
						color: $white-hover;
					}
				}

				.contact-style-desktop {
					margin-left: 1em;
					border-radius: 500px;
					color: $dark-blue;
					background-color: $white;
					font-family: 'Fraunces', serif;
					font-size: 1.8rem;
					text-transform: uppercase;

					&:hover {
						color: $white;
						background-color: rgba(255, 255, 255, 0.4);
					}
				}
			}
		}
	}

	// HEADER
	.header {
		&__text {
			h1 {
				font-size: 5rem;
			}

			a {
				img {
					width: 150%;
				}
			}
		}
	}

	// PROJECTS
	.projects {
		&__box {
			padding: 15em 0;
		}
		&__text {
			padding: 0 2.5em;
		}

		&__heading {
			font-size: 3rem;
		}
	}

	// CLIENT
	.client {
		padding: 5em 3em;
		&__heading {
			padding-top: 2em;
			font-size: 2.8rem;
		}

		&__container {
			grid-template-rows: 1fr;
			grid-template-columns: repeat(3, 1fr);
			gap: 2em;
		}

		&__item {
			padding: 2em 0.6em;
			&--first {
				grid-column: 1/2;
				grid-row: 1/2;
			}

			&--second {
				grid-column: 2/3;
				grid-row: 1/2;
			}

			&--third {
				margin-top: 0;
				grid-column: 3/4;
				grid-row: 1/2;
			}

			&-img {
				margin-bottom: 3.5em;
			}

			&-text {
				font-size: 1.8rem;
				margin-bottom: 3.5em;
			}

			&-name {
				h3 {
					font-size: 2rem;
				}
				p {
					font-size: 1.7rem;
				}
			}
		}
	}
}
