@import './reset';
@import './colors';
@import './animations';
@import './boxes';

body {
	font-family: 'Barlow', sans-serif;
	//font-family: 'Fraunces', serif;
	font-size: 1.8rem;
	height: 100vh;
	background-color: $blue-bg;
}

.wrapper {
	max-width: 1300px;
	width: 100%;
	margin: 0 auto;
}

// NAVIGATION
.nav {
	position: fixed;
	width: 100%;
	z-index: 10;
	&__bar {
		// position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 80px;
	}

	&__logo {
		margin: 20px;
		a {
			font-size: 2.8rem;
			font-weight: 900;
			letter-spacing: 1px;
			padding: 20px;
			color: $white;
			text-decoration: none;
			transition: color 0.3s;

			&:hover {
				color: $white-hover;
			}
		}
	}

	&__btn {
		background: none;
		border: 0.2px solid transparent;
		border-radius: 500px;
		cursor: pointer;
		padding: 1.5em;
		margin-right: 20px;

		&:focus {
			outline: none;
			border: 0.2px solid $white-hover;
		}

		&:hover &-bars {
			background-color: $white-hover;
		}

		&:hover &-bars::before {
			background-color: $white-hover;
		}

		&:hover &-bars::after {
			background-color: $white-hover;
		}

		&-box {
			position: relative;
			height: 30px;
			width: 40px;
		}

		&-bars,
		&-bars::before,
		&-bars::after {
			position: absolute;
			height: 3px;
			width: 100%;
			background-color: $white;
			transition: background 0.3s;
		}

		&-bars {
			top: 0;
			left: 0;
		}

		&-bars::before {
			content: '';
			top: 13.5px;
			left: 0;
		}

		&-bars::after {
			content: '';
			top: 27px;
			left: 0;
		}
	}

	&__list-desktop {
		display: none;
	}

	&__list-mobile {
		display: none;
		position: absolute;
		top: 120%;
		left: 50%;
		transform: translateX(-50%);
		flex-direction: column;
		background-color: $body-bg;
		padding: 2em;
		width: 80%;
		text-align: center;
		list-style: none;
		z-index: 10;

		&-item {
			a {
				display: block;
				padding: 0.8em 0.1em;
				width: 140px;
				margin: 0 auto;
				font-weight: 600;
				text-decoration: none;
				text-transform: capitalize;
				color: $dark-grayish-blue;
				transition: color 0.3s, background 0.3s;

				&:hover {
					color: $blue-bg;
				}
			}

			.contact-style-mobile {
				border-radius: 500px;
				color: $dark-blue;
				background-color: $yellow;
				font-family: 'Fraunces', serif;
				font-size: 1.8rem;
				text-transform: uppercase;
				margin-top: 0.8em;

				&:hover {
					color: $white;
					background-color: $blue-bg;
				}
			}
		}
	}
}

.nav__list-mobile--active {
	display: flex;
}

// HEADER
.header {
	height: 100vh;
	&__img {
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: url('../images/mobile/image-header.jpg');
		background-size: cover;
		background-position: center;
		height: 100%;
	}

	&__text {
		text-align: center;
		h1 {
			font-family: 'Fraunces', serif;
			font-size: 4rem;
			font-weight: 900;
			letter-spacing: 5px;
			text-transform: uppercase;
			color: $white;
			margin-bottom: 1.5em;
			padding: 0 1em;
		}

		a {
			padding: 1.5em;
			display: inline-block;
			transition: opacity 0.3s;
			animation: heartbeat 2.2s ease-in-out infinite alternate both;
			z-index: -10;

			&:hover {
				opacity: 0.6;
			}
		}
	}
}

// ABOUT
.about {
	background-color: $body-bg;
	display: grid;
	grid-template-rows: auto 1fr;

	&__text {
		display: grid;
		align-items: center;
		justify-content: center;
		grid-row: 2/3;
	}

	&__img-mobile {
		grid-row: 1/2;
	}

	&__img-desktop {
		display: none;
	}
}

// SERVICES
.services {
	background-color: $body-bg;
	display: grid;
	grid-template-rows: auto 1fr;

	&__text {
		display: grid;
		align-items: center;
		justify-content: center;
		grid-row: 2/3;
	}

	&__img-mobile {
		grid-row: 1/2;
	}

	&__img-desktop {
		display: none;
	}
}

// PROJECTS
.projects {
	display: grid;
	grid-template-rows: 1fr 1fr;

	&__box {
		position: relative;
		width: 100%;
		height: 100%;
		padding: 16em 0;
		background-size: cover;
		background-position: center;

		&-left {
			grid-row: 1/2;
			background-image: url('../images/mobile/image-graphic-design.jpg');
		}

		&-right {
			grid-row: 2/3;
			background-image: url('../images/mobile/image-photography.jpg');
		}
	}

	&__text {
		position: absolute;
		left: 50%;
		top: 65%;
		width: 100%;
		padding: 0 1.5em;
		transform: translateX(-50%);
		text-align: center;
	}

	&__heading {
		font-family: 'Fraunces', serif;
		font-size: 2.6rem;
		color: $dark-cyan;
		text-transform: capitalize;
		margin-bottom: 1.2em;
	}

	&__desc {
		font-size: 1.6rem;
		font-weight: 600;
		color: $dark-cyan;
	}
}

@import './small';
@import './medium';
@import './large';
